$theme-colors: (
	'primary': darkolivegreen,
	'secondary': darkcyan,
);

@import '~bootstrap/scss/bootstrap';

.categories {
	display: grid;
	grid-template-columns: repeat(auto-fill, 150px);
	grid-gap: 1rem;
}
.recipe {
	overflow: scroll;
	text-align: center;
}
.recipe2 {
	justify-content: center;
	display: flex;
}
.box1 {
    flex-basis: 100%;
	padding: 1rem;
	border-right: 3px solid black;
    border-left: 3px solid black;
    text-align: left;
}
.box2 {
    flex-basis: 100%;
	padding: 1rem;
}
.content {
	margin-bottom: 75px;
}
